html {
	background: #eef5f9 !important;
}
.preloader {
	background: rgb(255 255 255 / 0.8)!important;
}
.text-white, ul.pagination li.active a, ul.pagination li:hover a {
    color: white;
}
.sidebar-nav .has-arrow::after {
    border-width: 1px 1px 0 0px;
}
.sidebar-nav .active > .has-arrow::after, .sidebar-nav li > .has-arrow.active::after, .sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    top: 45%;
    width: .58em;
    transform: rotate(135deg) translate(0, -50%);
}
.auth-wrapper{
    height: 100vh;
    background: #eef5f9;
}
.auth-wrapper .card {
    min-width: 400px;
}
.sidebar-nav ul li a {
    border: 1px solid white;
}
.sidebar-nav > ul > li.active > a {
    border: 1px solid #26c6da;
}
.sidebar-nav ul li a:hover, .sidebar-nav ul li a.active {
    border: 1px solid;
}
.border-left {
    border-left: 1px solid #dee2e6!important;
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.border-danger {
    border-color: #dc3545!important;
}
.border-success {
    border-color: #28a745!important;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
/* PAGINACION */
ul.pagination li a {
	padding: 5px 10px;
}
ul.pagination li:hover a {
	background-color: #1e88e5;
    border-color: #1e88e5;
}
ul.pagination {
	margin-bottom: 0px;
}

.page-wrapper, #main-wrapper > .page-wrapper > .container-fluid  {
	padding-bottom: 0px !important;
}

.box-section-damage {
	width: 20px;
	margin: 1px;
	height: 20px;
}
.box-section-damage.btn {
	background: #cecece;
	border-radius: 0px;
	padding: 0px!important;
}
.box-section-damage.btn:nth-child(1) {
	margin-left: 0px;
}
.box-section-damage.btn:hover, .box-section-damage.btn.active {
	background: red;
}
.box-section-damage.letter-section {
	border-right: 4px solid red;
	align-items: center;
	display: flex;
}
.box-section-damage.btn-full {
	width: 80px;
	margin: 1px;
	height: 80px;
}
@media (min-width: 768px) {
	#no-more-tables>div.card-block {
		display: block;
		width: 100%;
		overflow-x: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
}
@media (max-width: 767px) {
    .auth-wrapper .card {
		min-width: 350px;
	}
	.page-wrapper .container-fluid .row.py-3, .page-wrapper .container-fluid .row.py-3 > div, .p-0-xs {
		padding: 0px!important;
	}
	.mini-sidebar .page-wrapper {
		padding-bottom: 0px!important;
	}
	.page-wrapper .card {		
		margin-bottom: 0px;
	}
	/* Firma */
	.m-signature-pad--footer .button.clear {
		left: 25px!important;
	}
	.m-signature-pad--footer .button {
		bottom: 8px!important;
	}
	/* no more table */
	table td ul {
		padding: 0 0 0 20px;
	}
	/* */
	#modalNew .modal-body>form>div.border-left {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid #dee2e6!important;
	}
	#modalNew .modal-body label>button {
		margin: 0 2.5px;
	}
	#modalNew .modal-body label>button {
		padding: 7px 12px;
    	font-size: 14px;
	}
}
/* NO MORE TABLE */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		overflow: auto;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		/*top: 6px;*/
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		/*white-space: nowrap;*/
		text-align:left;
		font-weight: bold;
		word-break: break-word;
		line-height: 15px;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
@media (min-width: 576px) {	
	button span.d-sm-block, a span.d-sm-block {
		display: inline!important;
	}
}
@media (max-width: 991px) {
	.modal form form {
		border: 1px solid #cecece;
		border-radius: 5px;
		padding: .5rem .5rem;
		margin-right: 1.5rem;
    	margin-left: 1.5rem;
	}
}