@charset "UTF-8";
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.input-inline-button {
  display: inline-block;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  text-decoration: none;
  padding: 0.5em;
  color: #999;
}

.list-group-item.active {
  background: #eee;
  border-color: #eee;
  color: #333;
}

.icon-plus:after {
  content: "➕";
}

.typeahead {
  position: relative;
  margin: 0.5rem;
}
.typeahead .input-group-addon:after {
  content: ':';
  display: inline;
}
.typeahead-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -2px;
  transition-delay: 0.75s;
  transition: display 1s;
}
.typeahead-dropdown:hover {
  display: block;
}
.typeahead-dropdown > .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.typeahead-dropdown > .list-group-item:first-child:not(:last-child) {
  border-radius: 0;
}
.typeahead-dropdown:focus {
  z-index: 101;
  display: block;
}
.typeahead-input {
  z-index: 1;
  position: relative;
}
.typeahead-input.form-control {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.typeahead-input:focus {
  z-index: 3;
  padding-bottom: 8px;
  height: 36px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0 !important;
}
.typeahead-input:focus + .typeahead-dropdown {
  z-index: 101;
  display: block;
}

.hover-reveal-group .hover-reveal {
  visibility: hidden;
}
.hover-reveal-group:hover .hover-reveal {
  visibility: visible;
}

.tt-menu {
  background-color: white;
  width: 100%;
  text-align: left;
  color: #00afe5;
  border: 1px solid #00afe5;
}

.tt-menu .tt-suggestion {
  padding-left: 10px;
}

.tt-menu .tt-suggestion:not(:last-child) {
  border-bottom: 1px solid #00afe5;
}

.tt-menu .tt-suggestion:hover {
  background-color: #00afe5;
  color: white;
}

#divtags {
  padding: 5px;
}

.tagspan {
  border-color: #00afe5;
  border-radius: 5px;
  border-width: 2px;
  margin: 5px;
  color: #445A68;
}

.tagspan:hover {
  border-color: red;
  border-width: 2px;
  color: white;
  background: red;
}

.not_active {
  border-color: #7ebe50;
}

.table-param {
  margin-top: 2rem;
  border: 1px solid #e0dcdc;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(126, 190, 80, 0.4);
  animation: pulse 2s infinite;
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 126, 190, 80, 0.4;
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(126, 190, 80, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(126, 190, 80, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 126, 190, 80, 0.4;
    box-shadow: 0 0 0 0 126, 190, 80, 0.4;
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(126, 190, 80, 0);
    box-shadow: 0 0 0 10px rgba(126, 190, 80, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

/*# sourceMappingURL=typeahead.css.map */
